# Django Rest API Backend git ignored files
backend/config/__pycache__/
backend/venv/
backend/db.sqlite3
backend/staticfiles/

# Angular Frontend git ignore files
frontend/node_modules/

# Secrets
.env